<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Employees list
        {% endblock %}
    </title>
</head>
<body>

{% block body %}
    <h1>Hierarchy:</h1>
    {% if not employees1 %}
        <h3>No employees yet</h3>
    {% else %}
        <ul>
            {% for employee1 in employees1 %}
                <li><p>Name: {{ employee1.name }}</p>
                    <p>Position: {{ employee1.position }}</p>
                    <p>Chief: {{ employee1.chief }}</p>
                    <p>Hierarchy: {{ employee1.hierarchy }}</p></li>
                <ul>
                    {% for employee2 in employees2 %}
                        <li><p>Name: {{ employee2.name }}</p>
                            <p>Position: {{ employee2.position }}</p>
                            <p>Chief: {{ employee2.chief }}</p>
                            <p>Hierarchy: {{ employee2.hierarchy }}</p></li>
                        <ul>
                            {% for employee3 in employees3 %}
                                {% if employee3.chief ==  employee2.name %}
                                    <li><p>Name: {{ employee3.name }}</p>
                                        <p>Position: {{ employee3.position }}</p>
                                        <p>Chief: {{ employee3.chief }}</p>
                                        <p>Hierarchy: {{ employee3.hierarchy }}</p></li>
                                    <ul>
                                        {% for employee4 in employees4 %}
                                            {% if employee4.chief ==  employee3.name %}
                                                <li><p>Name: {{ employee4.name }}</p>
                                                    <p>Position: {{ employee4.position }}</p>
                                                    <p>Chief: {{ employee4.chief }}</p>
                                                    <p>Hierarchy: {{ employee4.hierarchy }}</p></li>
                                                <ul>
                                                    {% for employee5 in employees5 %}
                                                        {% if employee5.chief ==  employee4.name %}
                                                            <li><p>
                                                                Name: {{ employee5.name }}</p>
                                                                <p>
                                                                    Position: {{ employee5.position }}</p>
                                                                <p>
                                                                    Chief: {{ employee5.chief }}</p>
                                                                <p>Hierarchy: {{ employee5.hierarchy }}</p>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</body>
</html>